Course/
Germanenko_IU2-62.docx
Calculation_cpp/.idea
Calculation_cpp/cmake-build-debug
Addition/Таблица_нетиповых_Курсовых_работ_СМ7_Весна_2024.docx
Addition/Таблица_нетиповых_Курсовых_работ_СМ7_Весна_2024.pdf